body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
  }
  .box{
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
  }
  legend{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: darkblue;
    
  }